/* You can add global styles to this file, and also import other style files */

// Escolha um tema base
@import '~@angular/material/prebuilt-themes/deeppurple-amber';
// @import '~@angular/material/prebuilt-themes/indigo-pink';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey';
// @import '~@angular/material/prebuilt-themes/purple-green';

@import 'app/shared/variables';

html {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  // https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  box-sizing: inherit;
}

body {
  background-color: #eea;
  margin: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

md-card {
  margin-bottom: $space;
}

.flex-fill {
  flex: 1 1 auto;
}

.text-left {
  text-align: left !important;
}
