/* You can add global styles to this file, and also import other style files */

// Escolha um tema base
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';
// @import '~@angular/material/core/theming/prebuilt/indigo-pink';
// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey';
// @import '~@angular/material/core/theming/prebuilt/purple-green';

@import 'app/shared/variables';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  // https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  box-sizing: inherit;
}

body {
  background-color: #eea;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.flex-fill {
  flex: 1 1 auto;
}

md-card {
  margin-bottom: $space;
}
