<md-card>
  <h3>Bem-vindo ao Representativo</h3>
  <p>
    Este aplicativo, ainda em desenvolvimento, vai lhe ajudar a encontrar os candidatos de maior afinidade política com você.
    Funciona assim: os eleitores e os candidatos utilizam o aplicativo para lançar e responder perguntas de interesse público.
    As pergunta são curtinhas, com duas alternativas de resposta. O aplicativo, então, analisa todas as respostas e aponta
    os candidatos cujas opiniões mais se aproximam das suas.
  </p>
  <p>
    O cadastro de novos usuários ainda não está liberado ao público. Caso você tenha interesse no aplicativo e queira contribuir
    de alguma forma:
  </p>
  <ul>
    <li>
      Fale comigo <a href="about:blank">no chat</a>
      ou pelo <a href="https://www.facebook.com/profile.php?id=100004764191390">Facebook</a>.
    </li>
    <li>
      Acesse o <a href="https://github.com/andregs/representativo">código-fonte</a> do projeto.
    </li>
  </ul>
</md-card>
<md-card id="login">
  <!-- ID tem que corresponder ao 'container' do 'Auth0Lock' -->
</md-card>
