<md-card>
  <h3>Bem-vindo ao Representativo</h3>
  <p>
    Este aplicativo, ainda em desenvolvimento, vai ajudar os eleitores a escolherem melhor os seus candidatos.
    Funciona assim: 
  </p>
  <ul>
    <li>Eleitores e candidatos usam o aplicativo para lançar perguntas ao público em geral, bem como respondê-las.</li>
    <li>As pergunta são curtinhas, com duas alternativas de resposta.</li>
    <li>Comparando as respostas de todo mundo, o aplicativo mostra quais candidatos possuem uma maior afinidade política com você.</li>
  </ul>
  <p>
    Infelizmente, o registro de novos usuários ainda não está liberado. Caso você tenha interesse no aplicativo e queira contribuir
    de alguma forma:
  </p>
  <ul>
    <li>
      Fale comigo <a href="https://gitter.im/representativo/Lobby">no chat</a>
      ou pelo <a href="https://www.facebook.com/profile.php?id=100004764191390">Facebook</a>.
    </li>
    <li>
      Acesse o <a href="https://github.com/andregs/representativo">código-fonte</a> do projeto.
    </li>
  </ul>
</md-card>
<md-card id="login">
  <!-- ID tem que corresponder ao 'container' do 'Auth0Lock' -->
</md-card>
